html
  head
    title #{title}
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/consultarHora.js')
    script(src='javascripts/tiempoBuenosAires.js')
  body
    #sidebar
      h1 JulioB
      h2 Developer
      #menu
        a(href='/') Home
        a(href='santiago') Santiago
        a.active(href='buenosaires') Buenos Aires
        a(href='lima') Lima
        a(href='newyork') New York
        a(href='toronto') Toronto
    #content
      h1 #{title}
      h2 Tiempo
      h3
        span#tiempoBuenosAires
      h4
        | Hora actual de Buenos Aires:
        span#horaBuenosAires
      p
        | Buenos Aires, formalmente Ciudad Autonoma de Buenos Aires (de forma abreviada CABA) tambien llamada Capital Federal por ser sede del gobierno federal, es una de las veinticuatro entidades federales y capital de la Republica Argentina. Esta situada en la region centro-este del pais, sobre la orilla occidental del rio de la Plata, en plena llanura pampeana. Los resultados definitivos del censo de 2010 estiman la poblacion de la ciudad en 2 890 151 habitantes, y la de su aglomeracion urbana, el Aglomerado Gran Buenos Aires, en 14 391 538 habitantes; siendo la mayor area urbana del pais, la segunda de Sudamerica, Hispanoamerica y del hemisferio sur, y una de las 20 mayores ciudades del mundo.
      img(src='images/buenosaires.jpg', width='512', height='160', alt='image example')
      p(align='right') &copy; Lcdo. Julio Baptista
    br
