html
  head
    title #{title}
    meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/consultarHora.js')
    script(src='javascripts/tiempoLima.js')
  body
    #sidebar
      h1 JulioB
      h2 Developer
      #menu
        a(href='/') Home
        a(href='santiago') Santiago
        a(href='buenosaires') Buenos Aires
        a.active(href='lima') Lima
        a(href='newyork') New York
        a(href='toronto') Toronto
    #content
      h1 #{title}
      h2 Tiempo
      h3
        | Hora actual de Lima:
        span#horaLima
      p
        | Lima es la ciudad capital de la Rep&uacute;blica del Per&uacute;. Se encuentra situada en la costa central del pa&iacute;s, a orillas del oceano Pacifico, conformando una extensa y populosa &aacute;rea urbana conocida como Lima Metropolitana, flanqueada por el desierto costero y extendida sobre los valles de los r&iacute;os Chillon, Rimac y Lur&iacute;n. Segun el censo peruano de 2007, Lima contaba con mas de 7,6 millones de habitantes; Mientras que su aglomeracion urbana contaba con mas de 8,5 millones de habitantes, el 30% de la poblacion peruana, cifras que la convierten en la ciudad m&aacute;s poblada del pa&iacute;s.
      img(src='images/lima.jpg', width='512', height='160', alt='image example')
      p(align='right') &copy; Lcdo. Julio Baptista
    br
