html
  head
    title #{title}
    meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/consultarHora.js')
    script(src='javascripts/tiempoNewYork.js')
  body
    #sidebar
      h1 JulioB
      h2 Developer
      #menu
        a(href='/') Home
        a(href='santiago') Santiago
        a(href='buenosAires') Buenos Aires
        a(href='lima') Lima
        a.active(href='newyork') New York
        a(href='toronto') Toronto
    #content
      h1 #{title}
      h2 Tiempo
      h3
        span#tiempoNewYork
      h4
        | Hora actual de New York:
        span#horaNewYork
      p
        | Nueva York (en ingles y oficialmente, New York) es la ciudad mas poblada del estado homonimo, y de los Estados Unidos de America, y la segunda mayor concentracion urbana de America del Norte, despues del Distrito Federal de Mexico. La ciudad de Nueva York esta entre las tres aglomeraciones urbanas mas grandes y mas pobladas del mundo.
      img(src='images/newyork.jpg', width='512', height='160', alt='image example')
      p(align='right') &copy; Lcdo. Julio Baptista
    br
