html
  head
    title #{title}
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/consultarHora.js')
    script(src='javascripts/tiempoSantiago.js')
  body
    #sidebar
      h1 JulioB
      h2 Developer
      #menu
        a(href='/') Home
        a#horasantiago.active(href='santiago') Santiago
        a(href='buenosaires') Buenos Aires
        a(href='lima') Lima
        a(href='newYork') New York
        a(href='toronto') Toronto
    #content
      h1 #{title}
      h2 Tiempo
      h3 
        span#tiempoSantiago
      h4
        | Hora actual de Santiago:
        span#horaSantiago
      p
        | Santiago, llamada tambien Santiago de Chile, es la capital de Chile. Es el principal nucleo urbano del pais y su area metropolitana se conoce con el nombre de Gran Santiago. Es tambien la capital de la Region Metropolitana de Santiago. La ciudad alberga los principales organismos administrativos, comerciales, culturales, financieros y gubernamentales del pais a excepcion del Congreso Nacional, de la Armada de Chile, el Servicio Nacional de Aduanas, el Servicio Nacional de Pesca y el Consejo Nacional de la Cultura y las Artes ubicados todos en Valparaiso y, ademas, es sede de la CEPAL.
      img(src='images/santiago.jpg', width='512', height='160', alt='image example')
      p(align='right', class="right") © Lcdo. Julio Baptista
    br