html
  head
    title #{title}
    meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/consultarHora.js')
    script(src='javascripts/tiempoToronto.js')
  body
    #sidebar
      h1 JulioB
      h2 Developer
      #menu
        a(href='/') Home
        a(href='santiago') Santiago
        a(href='buenosaires') Buenos Aires
        a(href='lima') Lima
        a(href='newYork') New York
        a.active(href='toronto') Toronto
    #content
      h1 #{title}
      h2 Tiempo
      h3
        | Hora actual de Toronto:
        span#horaToronto
      p
        | Localizada en la orilla noroeste del lago Ontario, es la quinta ciudad mas grande de Norteamerica. Toronto se encuentra en el corazon del Area Metropolitana de Toronto (Greater Toronto Area en ingles y abreviado como GTA), la mayor area metropolitana de Canada, y es parte de una region densamente poblada en el centro-sur de Ontario conocida como Golden Horseshoe (Herradura Dorada), donde residen ocho millones de habitantes.
      img(src='images/toronto.jpg', width='512', height='160', alt='image example')
      p(align='right') &copy; Lcdo. Julio Baptista
    br
